.notion-page-content {
  direction: rtl;
}

.notion-code-block .notranslate {
  direction: ltr;
}

[placeholder='List'] {
 text-align: right !important; 
}

.notion-quote-block > div > div {
  border-right: 3px solid currentcolor;
}
